<div class='services strip'>
    <!-- Display content from the News page -->
    <% let posts = site.posts %>
    <% posts.forEach(function(item) { %>
        <% if (item.type === 'services') { %>
            <div class="service-card">
                <div class="service-card-wrapper">
                    <h3 class='component-title'><%- item.title %></h3>
                    <%- item.content %>
                </div>
            </div>
        <% } %>
    <% }) %>
</div>