/* -- GLOBAL STYLES -- */
html {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    max-width: 100%;
    font-size: 1rem;
}
main {
    max-width: 100%;
    padding: 2vw 0;
    background-color: #eee;
    color: black;
}
a {
    text-decoration: none;
    color: rgb(94, 185, 192);
    position: relative;
    transition: 0.2s ease all;
}
a::after {
    content: '';
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
    position: absolute;
    left: 0%;
    top: 90%;
}
a:hover {
    color: black;
}
a:hover::after {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p {
    text-align: center;
}
.site-title {
    letter-spacing: 5px;
    text-transform: uppercase;
}
/* --- HERO STRIP --- */
.video {
    min-width: 100%;
    height: auto;
    position: relative;
    z-index: 5;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    max-width: 100%;
    min-height: 100%;
}
.welcome {
    font-size: 2rem;
}
/* --- NAVIGATION --- */
.nav {
    color: white;
    width: 100%;
    letter-spacing: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 5;
    top: 0;
    background: black;
    -webkit-box-shadow: -2px -1px 46px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 46px -12px rgba(0,0,0,0.75);
    box-shadow: -2px -1px 46px -12px rgba(0,0,0,0.75);
}
.nav a {
    color: white;
    text-transform: uppercase;
}
.nav a:hover::after {
    width: 0%;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile {
    height: 0;
    overflow: hidden;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.navlink {
    padding: 0 20px;
    height: 50%;
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: 0.2s ease all;
}
.navlink:hover {
    background-color: #eee;
    color: black;
    height: 100%;
    border-radius: 5%;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.brand img {
    display: none;
}
.hamburger {
    display: none;
}
/* --- HEADER --- */

/* --- ABOUT --- */
.about {
    height: auto; 
}
/* --- PROJECTS AND BLOG POSTS --- */
.projects, .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
}
.post {
    width: 400px;
    height: 300px;
    border-radius: 3%;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px;
    transition: 0.3s ease all;
    text-align: center;
}
.post:hover {
    box-shadow: 0px 4px 10px 2px #eee;
    transform: translateY(-5px);
}
.snippet {
    width: 100;
}
table {
    margin: auto;
}
/* --- SIDEBAR --- */
.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.sidebar-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    height: 175px;
    background: none;
    position: relative;
    box-shadow: 0px 2px 9px 1px #999;
    border-radius: 7%;
    border: 3px solid rgba(230,230,230, 0);
    padding: 10px;
    margin: 10px; 
    overflow-y: scroll;
    position: relative;
    transition: 0.3s ease all;
}
/* 
.sidebar-module::after {
    content: '';
    position: absolute;
    height: 300px;
    top: 50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: #eee;
    transform: translate(-5em, 7.5em);
    z-index: -1;
    transition: 0.3s ease all;
}
.sidebar-module:hover::after, .sidebar-module:focus::after {
    animation: shine 0.6s forwards;
}
@keyframes shine {
    100% {
        transform: translate(1em, -9em);
    }
}
*/
.sidebar-module:hover {
    border: 3px solid rgba(230,230,230, 1);
    box-shadow: 0px 4px 10px 2px #eee;
    transform: translateY(-5px);
}
.sidebar-module i {
    transition: 0.5s ease all;
}
.sidebar-module:hover i {
    transform: translateY(-8px) scale(1.25);
}
.sidebar-module h4 {
    margin: 15px 0 0 0;
}
.sidebar-module ul {
    margin-top: 10px;
}
.sidebar-module hr {
    border-color: #FFF;
    width: 45%;
}
/* --- FOOTER --- */
footer {
    text-align: center;
    margin: 0;
}
footer a:hover::after {
    background-color:#eee;
}


/* ------------ MARKDOWN FILE STYLING -------------*/
.post-full {
    padding: 20px 20%;
}
.post-full h3, .post-full h4, .post-full h5, .post-full h6 {
    text-align: left;
}
.post-full p  {
    text-align: left;
}
.post-full img {
    width: 85%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 1px #999;
    position: relative;
    left: 7.25%;
}
.post-full .post-meta {
    text-align: center;
}
/* Article Snippet */
.post img {
    height: 25%;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s ease all;
}
.post:hover img {
    transform: translateY(-10px) scale(1.2);
    box-shadow: 0px 2px 9px 1px #999;
}
/* Service Cards */
.services-strip {
    width: 100%;
    height: auto;
    padding: 20px 0;
    font-size: 0;
    position: relative;
    color: black;
}
.services-strip p {
    text-align: center;
    font-size: 1rem;
    padding: 0 25%;
}
.services-strip svg {
    width: 100%;
    height: 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: relative;
    top: -150px;
}
.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    font-size: 1rem;
    position: relative;
    z-index: 2;
    margin: 50px 0 0 0;
}
.service-card {
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.service-card p {
    padding: 10px 10px 10px 10px;
    margin: 5px;
}
.service-card svg {
    width: 80px;
    height: 50px;
    color: black;
    position: relative;
    top: 0;
}
.svg-wrapper {
    position: relative;
    top: 0;
}
.svg-wrapper img {
    position: absolute;
    top: -5%;
    left: 0;
    z-index: 3;
    width: 100%;
}
/* --------- CONTACT STRIP ----------- */
.form-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100vw;
    overflow-x: hidden;
}
.form-strip:hover i {
    transform: translateY(-10px) scale(1.20);
}
.form-strip hr {
    width: 70%;
    margin: 100px 0;
    border: 1px solid lightgrey;
}
.form-strip i {
    font-size: 2rem;
    color: black;
    transition: 0.6s ease all;
}
.form-strip h2 {
    color: black;
    text-align: center;
    font-weight: thin;
    font-size: 2rem;
    padding: 0 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
fieldset {
    width: 500px;
    padding: 0;
    margin: 0;
    border: none;
}
.fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fieldset-wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}
input, select, textarea {
    width: 100%;
    border: none;
    background: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    height: 40px;
    border: 1px solid lightgrey;
    font-family: 'PT Sans', sans-serif;
    transition: 0.2s ease all;
}
input:hover, select:hover, textarea:hover {
    border: none;
    background: black;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid white;
}
input:hover::placeholder, select:hover::placeholder, textarea:hover::placeholder {
    color: white;
}
.text-area {
    width: 95%;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color:grey;
}
label {
    visibility: hidden;
}
.message {
    position: relative;
    text-align: center;
    width: 100%;
}
.message label, input {
    width: 100%;
}
.form-button {
    -webkit-appearance: none;
    width: 150px;
    height: 60px;
    margin: 20px;
    transition: 0.3s ease all;
    border-radius: 10px;
    transition: 0.4s ease all;
    color: grey;
}
.form-button:hover {
    cursor: pointer;
    color: white;
}
/* --------- FOOTER ----------- */
.footer {
    padding: 10px;
    line-height: 0.8rem;
    font-size: 0.9rem;
}
.footer a:hover {
    color: grey;
}
.socials i {
    font-size: 2rem;
    margin: 10px;
}

/* --- MEDIA QUERIES --- */
@media only screen and (max-width: 1200px) {
    .post-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .post {
        width: 400px;
        min-width: 340px;
    }
    .svg-wrapper img {
        top: -10%;
    }
}
@media only screen and (max-width: 1075px) {
    .service-card {
        padding: 20px 5px 20px 5px;
    }
    .services-strip svg {
        height: 75%;
        z-index: 3;
        top: -75px;
    }
    .services-strip p {
        padding: 0 30px;
    }
    .service-card svg {
        height: 50px;
        top: 0;
    }
}
@media only screen and (max-width: 900px) {
    .column-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .column-half {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 200px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 0;
        margin: 5px;
    }
}
@media only screen and (max-width: 845px) {
    .card-wrapper {
        flex-direction: column;
    }
    .service-card {
        padding: 20px 5px 20px 5px;
        width: 90%;
    }
}
@media only screen and (max-width: 770px) {
    .post-full {
        padding: 20px 15%;
    }
    .post-full img {
        width: 100%;
        left: 0%;
    }
    .sidebar {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 640px) {
    .video {
        display: none;
    }
    .brand img {
        display: flex;
        width: 250px;
        height: auto;
    }
    .navbar {
        display: none;
    }
    .nav-mobile {
        width: 100vw;
        height: 0px;
        transition: 0.4s ease-in;
        display: flex;
        background: #292929;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 0;
        line-height: 5px;
    }
    .revealNavMobile {
        -webkit-transition: 0.5s; /* Safari 4+ */
        -moz-transition: 0.5s; /* Fx 5+ */
        -o-transition: 0.5s; /* Opera 12+ */
        transition: 0.5s; /* IE 10+, Fx 29+, */
        height: 25vh;
        line-height: 25px;
    }
    .mobileLink {
        text-align: right;
        padding: 5px;
        letter-spacing: 3px;
        color: #eee;
        max-width: 100vw;
        transition: 0.4s;
    }
    .mobileLink:hover {
        color: rgb(94, 185, 192);
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 30px;
        height: auto;
        padding: 10px;
        margin-right: 20px;
        border: 1px dashed grey;
        border-radius: 15px;
        overflow: hidden;
    } 
    .bar1, .bar3 {
        width: 30px;
        height: 4px;
        background-color: #f2f2f2;
        border-radius: 15px;
        margin: 6px 0;
        transition: 0.6s;
    }
    .bar2 {
        width: 30px;
        height: 4px;
        background-color: #f2f2f2;
        border-radius: 15px;
        margin: 6px 0;
        transition: 0.5s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-228deg);
    }
    /*  translate(3px, -5px) */
    .change .bar2 {
        transform: rotate(275deg);
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(48deg);
    /*  translate(-9px, -12px) */
    }
    .svg-wrapper img {
        top: -15%;
    }
    .site-title {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .post-full {
        padding: 20px 10%;
    }
    .svg-wrapper img {
        top: -20%;
    }

    /* Contact strip */
    form {
        width: 100%;
    }
    fieldset {
        width: 90%;
    }
    .fieldset-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: content;
    }
    .fieldset-wrapper div {
        width: 90%;
    }
    input, select, textarea {
        width: 90%;
    }
    .message {
        width: 85.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    textarea {
        position: relative;
        left: 8.5%;
    }
}
@media only screen and (max-width: 450px) {
    .svg-wrapper img {
        top: -30%;
    }
}
@media only screen and (max-width: 350px) {
    .svg-wrapper img {
        top: -40%;
    }
}
