/* -- GLOBAL STYLES -- */
html {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    max-width: 100%;
    font-size: 1rem;
}
main {
    max-width: 100%;
    padding: 2vw 0;
    background-color: #eee;
    color: black;
}
a {
    text-decoration: none;
    color: rgb(94, 185, 192);
    position: relative;
    transition: 0.2s ease all;
}
a::after {
    content: '';
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
    position: absolute;
    left: 0%;
    top: 90%;
}
a:hover {
    color: black;
}
a:hover::after {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
p {
    text-align: center;
}
.site-title {
    letter-spacing: 5px;
    text-transform: uppercase;
}
/* --- HERO STRIP --- */
.video {
    min-width: 100%;
    height: auto;
    position: relative;
    z-index: 5;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    max-width: 100%;
    min-height: 100%;
}
/* --- NAVIGATION --- */
.nav {
    color: white;
    width: 100%;
    letter-spacing: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 2;
    top: 0;
    background: black;
}
.nav a {
    color: white;
    text-transform: uppercase;
}
.nav a:hover::after {
    width: 0%;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile {
    height: 0;
    overflow: hidden;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}
.navlink {
    padding: 0 20px;
    height: 50%;
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: 0.2s ease all;
}
.navlink:hover {
    background-color: #eee;
    color: black;
    height: 100%;
    border-radius: 5%;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.brand img {
    display: none;
}
.hamburger {
    display: none;
}
/* --- HEADER --- */

/* --- ABOUT --- */
.about {
    height: auto; 
}
/* --- PROJECTS AND BLOG POSTS --- */
.post-container {
    display: flex;
}
.post {
    width: 30%;
    height: 300px;
    box-shadow: 0px 2px 9px 1px #999;
    border-radius: 3%;
    border: 3px solid rgba(230,230,230, 0);
    padding: 10px;
    margin: 10px;
    transition: 0.3s ease all;
    text-align: center;
}
.post:hover {
    border: 3px solid rgba(230,230,230, 1);
    box-shadow: 0px 4px 10px 2px #eee;
    transform: translateY(-5px);
}
.snippet {
    width: 100;
}
table {
    margin: auto;
}
/* --- SIDEBAR --- */
.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}
.sidebar-module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    height: 175px;
    background: none;
    position: relative;
    box-shadow: 0px 2px 9px 1px #999;
    border-radius: 7%;
    border: 3px solid rgba(230,230,230, 0);
    padding: 10px;
    margin: 10px; 
    overflow-y: scroll;
    position: relative;
    transition: 0.3s ease all;
}
/* 
.sidebar-module::after {
    content: '';
    position: absolute;
    height: 300px;
    top: 50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: #eee;
    transform: translate(-5em, 7.5em);
    z-index: -1;
    transition: 0.3s ease all;
}
.sidebar-module:hover::after, .sidebar-module:focus::after {
    animation: shine 0.6s forwards;
}
@keyframes shine {
    100% {
        transform: translate(1em, -9em);
    }
}
*/
.sidebar-module:hover {
    border: 3px solid rgba(230,230,230, 1);
    box-shadow: 0px 4px 10px 2px #eee;
    transform: translateY(-5px);
}
.sidebar-module i {
    transition: 0.5s ease all;
}
.sidebar-module:hover i {
    transform: translateY(-8px) scale(1.25);
}
.sidebar-module h4 {
    margin: 15px 0 0 0;
}
.sidebar-module ul {
    margin-top: 10px;
}
.sidebar-module hr {
    border-color: #FFF;
    width: 45%;
}
/* --- FOOTER --- */
footer {
    text-align: center;
    margin: 0;
}
footer a:hover::after {
    background-color:#eee;
}


/* ------------ MARKDOWN FILE STYLING -------------*/
.post-full h3, .post-full h4, .post-full h5, .post-full h6 {
    text-align: left;
}
.post-full img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 9px 1px #999;
}
/* Article Snippet */
.post img {
    height: 25%;
    width: auto;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.4s ease all;
}
.post:hover img {
    transform: translateY(-10px) scale(1.2);
    box-shadow: 0px 2px 9px 1px #999;
}
/* Service Cards */
.services-strip {
    width: 100%;
    height: auto;
    padding: 20px 0;
}




/* --- MEDIA QUERIES --- */
@media only screen and (max-width: 1200px) {
    .post-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .post {
        width: 40%;
        min-width: 340px;
    }
}
@media only screen and (max-width: 900px) {
    .column-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .column-half {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 200px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 0;
        margin: 5px;
    }
}
@media only screen and (max-width: 770px) {
    .sidebar {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 640px) {
    .video {
        display: none;
    }
    .brand img {
        display: flex;
        width: 70px;
        height: auto;
        border: 1px solid lightgrey;
        border-radius: 100%;
        -webkit-animation:spin 10s linear infinite;
        -moz-animation:spin 10s linear infinite;
        animation:spin 10s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    .navbar {
        display: none;
    }
    .nav-mobile {
        width: 100vw;
        height: 0px;
        transition: 0.4s ease-in;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 0;
        line-height: 5px;
    }
    .revealNavMobile {
        -webkit-transition: 0.5s; /* Safari 4+ */
        -moz-transition: 0.5s; /* Fx 5+ */
        -o-transition: 0.5s; /* Opera 12+ */
        transition: 0.5s; /* IE 10+, Fx 29+, */
        height: 25vh;
        line-height: 25px;
    }
    .mobileLink {
        text-align: right;
        padding: 5px;
        letter-spacing: 3px;
        color: #eee;
        max-width: 100vw;
        transition: 0.4s;
    }
    .mobileLink:hover {
        color: rgb(94, 185, 192);
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: auto;
        padding: 10px 30px 10px 10px;
    } 
    .bar1, .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: 0.6s;
    }
    .bar2 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: 0.5s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-228deg);
    }
    /*  translate(3px, -5px) */
    .change .bar2 {
        transform: rotate(125deg) translateY(-10px) translateX(30px);
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(48deg);
    /*  translate(-9px, -12px) */
    }
}
@media only screen and (max-width: 500px) {
    .post-full img {
        width: 100%;
    }
}
